* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
input {
    height: 45px;
    width: 100%;
    color: #525252;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}
input:focus {
    outline: none;
    border: 2px solid #C1D9FD;
}
input:valid {
    border-color: greenyellow;
}
input:invalid {
    border-color: orange;
}
input:not(:focus):invalid {
    border-color: #C1D9FD;
}
main {
    background: #525252;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle {
    position: absolute;
    z-index: 1;
    width: 2534px;
    height: 2534px;
    border-radius: 50%;
    background: #262626;
    box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.25);
    animation-name: fadeCircle;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeCircle {
    0% {
        width: 2534px;
        height: 2534px;
    }
    25% {
        width: 2000px;
        height: 2000px;
    }
    50% {
        width: 1500px;
        height: 1500px;
    }
    75% {
        width: 1000px;
        height: 1000px;
    }
    100% {
        width: 534px;
        height: 534px;
    }
}
.register-form-container {
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 415px;
    width: 100%;
    background: #262626;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}
.form-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
}
.form-field {
    margin-bottom: 13px;
}
.button {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    display:block;
    height: 45px;
    background: #247FFF;
    border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: none;
}
.button:hover {
    background-color: #0D6CF2;
}
a.button {
    text-decoration: none;
}

/* a:-webkit-any-link {
    color: #247FFF;
    cursor: pointer;
    text-decoration: underline;
} */

.divider {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #405D87;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
/*   empty-cells: hide; */
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/*  */
/* body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #485268;
    background-color: #E5E5E5;
} */

/*
a {
    color: #485268;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

header{
    margin-left: 0;
}

.loader{
    border: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}

.page {
    width: 595px;
    margin: 0 auto;
}

.input {
    margin: 0 0;
} */
